player-connection-mode=Listen
player-connection-guid=3325323833
player-connection-debug=0
player-connection-project-name=DungeonCrawler
player-connection-ip=192.168.1.228
gfx-enable-gfx-jobs=1
gfx-threading-mode=6
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
build-guid=acfada3841884c56bf65022f25bbed6e
